<html>

<head>
<script>

    function makeBackendAPIRequest(url) {
        let request = new XMLHttpRequest();
        request.open("GET", url)
        request.send();
        request.onload = () => {
            console.log(request);
            if (request.status === 200){
                console.log(JSON.parse(request.response))
                return request.response
            } else {
                console.log(`error ${request.status} ${request.statusText}`)
                return false
            }
        }
    }

    function getPlayerResults(playerId) {
        apiResponse = makeBackendAPIRequest("https://shrine-realpython-example-app.herokuapp.com/getPlayerResults?playerId=548")
        if (apiResponse){
            console.log('apiResponse: ' + apiResponse)
            // update the front-end table results
            // iterate over the JSON object array, and add a tow to the table for each entry
        }
    }

    function getFirst50GameResults() {
        apiResponse = makeBackendAPIRequest("https://shrine-realpython-example-app.herokuapp.com/getPlayerResults?playerId=548")
        if (apiResponse){
            console.log('apiResponse: ' + apiResponse)
            console.log('***********')
            console.log('apiResponse.length: ' + apiResponse.length)
            for (var i = 0; i < apiResponse.length; i++){
                //document.write("<br><br>array index: " + i);
                var obj = arr[i];
                for (var key in obj){
                    var value = obj[key];
                    console.log('key: ' + key)
                    console.log('value: ' + value)
                    //document.write("<br> - " + key + ": " + value);
                }
            }
        }
    }
</script>
</head>

<body>

<a href="javascript:" onclick="getFirst50GameResults()">Show Global Leaderboards</a> |
<a href="javascript:" onclick="getPlayerResults(548)">Show Player 1 Results</a> |
<a href="javascript:" onclick="getPlayerResults(9887)">Show Player 2 Results</a>
    
<br/>
<br/>
<br/>

<table id="resultsTable" border="1">
    
  <tr>
      <th>GameId</th>
      <th>Player1Id</th>
      <th>Player2Id</th>
      <th>WinningPlayerId</th>
  </tr>



</table>

</body>

</html>