<html>

<head>
<script>

    function makeBackendAPIRequest(url, callback) {
        let request = new XMLHttpRequest();
        request.open("GET", url)
        request.send();
        request.onload = () => {
            console.log(request);
            if (request.status === 200){
                parsedJSON = JSON.parse(request.response) 
                console.log(parsedJSON)
                callback(parsedJSON)
            } else {
                console.log(`error ${request.status} ${request.statusText}`)
                return false
            }
        }
    }

    function getPlayerResults(playerId) {
        makeBackendAPIRequest("https://shrine-realpython-example-app.herokuapp.com/getPlayerResults?playerId=548", updateGameResultsTable)
    }

    function getAllPlayers() {
        makeBackendAPIRequest("https://shrine-realpython-example-app.herokuapp.com/getAllPlayers", updatePlayerTable)
    }

    function emptyGameResultsTable() {
        var table = document.getElementById('gameResultsTable');
        var rowCount = table.rows.length;
        console.log('rowCount: ' + rowCount)
        var rowIndex = 1;
        for (var i = rowIndex; i < rowCount; i++) {
            console.log('i: ' + i)
            console.log('rowIndex: ' + rowIndex)
            table.deleteRow(rowIndex);
        }
    }

    function hideGameResultsTable() {
        gameResultsTable = document.getElementById('gameResultsTable')
        gameResultsTable.style.display = 'none'
    }

    function updatePlayerTable() {

        for (var i = 0; i < tableData.length; i++) {
            var obj = tableData[i];
            var newRow = document.getElementById('playerTable').insertRow();
            for (var key in obj) {
                var value = obj[key];
                newRow.innerHTML += "<td>" + value + "</td>"
            }
        }
    }

    function updateGameResultsTable(tableData) {

        emptyGameResultsTable()

        for (var i = 0; i < tableData.length; i++) {
            var obj = tableData[i];
            var newRow = document.getElementById('gameResultsTable').insertRow();
            for (var key in obj) {
                var value = obj[key];
                newRow.innerHTML += "<td>" + value + "</td>"
            }
        }
    }

    function getFirst50GameResults() {
        makeBackendAPIRequest("https://shrine-realpython-example-app.herokuapp.com/getFirst50GameResults", updateGameResultsTable)
    }
</script>
</head>

<body>

<a href="javascript:" onclick="getFirst50GameResults()">Show Global Leaderboards</a> |
<a href="javascript:" onclick="getAllPlayers()">Show All Players</a>

<br/>
<br/>
<br/>

<table id="gameResultsTable" border="1" padding="5px" style="visibility: hidden">
    
  <tr>
      <th>GameId</th>
      <th>Player1Id</th>
      <th>Player2Id</th>
      <th>WinningPlayerId</th>
  </tr>

</table>

<table id="playerTable" border="1" padding="5px" style="visibility: hidden">
    
    <tr>
        <th>PlayerId</th>
    </tr>
  
</table>

</body>

</html>